
<!-- add header and footer in partial html as layout -->

<%- include ("partials/header"); -%> 
        
        <h1>Home</h1>
        <p><%= homeStartingContent %></p>

        <% posts.forEach(async (post) => { %>
                <br> 
                <h1><%= post.title%></h1>
                <p><%= post.body%></p>   
        <% }); %> 
        

<%- include("partials/footer"); -%>

